[Unit]
Description=Grafana - dashboards
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana:11.3.1
PublishPort=${PORT_HTTP}:3000
Volume=grafana-data.volume:/var/lib/grafana:U
Volume=%h/.local/share/services/grafana/configs/provisioning:/etc/grafana/provisioning:Z,ro
Pull=missing
EnvironmentFile=%h/.local/share/services/grafana/.env
HealthCmd=wget -q --spider http://localhost:3000/api/health || exit 1

[Service]
EnvironmentFile=%h/.local/share/services/grafana/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
