[Unit]
Description=Vaultwarden
StartLimitIntervalSec=0

[Container]
Image=docker.io/vaultwarden/server:1.35.4
PublishPort=${RYRA_PORT_HTTP}:80
Volume=vaultwarden-data.volume:/data:U
Pull=never

[Service]
EnvironmentFile=__RYRA_SERVICE_HOME__/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
