[Unit]
Description=Uptime Kuma
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
ContainerName=uptime-kuma
Image=louislam/uptime-kuma:1
PublishPort=${RYRA_PORT_HTTP}:3001
Volume=uptime-kuma-data.volume:/app/data:U
Pull=missing
EnvironmentFile=%h/.local/share/ryra/uptime-kuma/.env
HealthCmd=curl -sf http://localhost:3001/api/entry-page || exit 1

[Service]
EnvironmentFile=%h/.local/share/ryra/uptime-kuma/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
