[Unit]
Description=Paperless-ngx Redis cache
StartLimitIntervalSec=60
StartLimitBurst=3
Requires=paperless-ngx.network
After=paperless-ngx.network

[Container]
ContainerName=paperless-ngx-redis
Image=docker.io/library/redis:7-alpine
Network=paperless-ngx.network:alias=redis
HealthCmd=redis-cli ping | grep PONG
HealthStartPeriod=20s
HealthInterval=30s
HealthRetries=5
HealthTimeout=3s
Pull=never
EnvironmentFile=%h/.local/share/ryra/paperless-ngx/.env

[Service]
EnvironmentFile=%h/.local/share/ryra/paperless-ngx/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
