[Unit]
Description=PostHog ZooKeeper
StartLimitIntervalSec=60
StartLimitBurst=3
Requires=posthog.network
After=posthog.network

[Container]
Image=docker.io/library/zookeeper:3.7.0
ContainerName=posthog-zookeeper
Network=posthog.network:alias=zookeeper
Volume=posthog-zookeeper-data.volume:/data:U
Pull=never

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=120

[Install]
WantedBy=default.target
