[Unit]
Description=Whoami (auth)
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
ContainerName=whoami-auth
Image=docker.io/traefik/whoami:v1.11.0
PublishPort=${RYRA_PORT_HTTP}:80
Pull=never
EnvironmentFile=%h/.local/share/ryra/whoami-auth/.env

[Service]
EnvironmentFile=%h/.local/share/ryra/whoami-auth/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
