[Unit]
Description=Ryra Registry
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
ContainerName=ryra-registry
Image=docker.io/library/nginx:1.29.6-alpine
PublishPort=${RYRA_PORT_HTTP}:80
Volume=ryra-registry-data.volume:/usr/share/nginx/html:U
Pull=never
EnvironmentFile=%h/.local/share/ryra/ryra-registry/.env

[Service]
EnvironmentFile=%h/.local/share/ryra/ryra-registry/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
