[Unit]
Description=Ryra Registry
StartLimitIntervalSec=0

[Container]
Image=docker.io/library/nginx:1.29.6-alpine
PublishPort=${RYRA_PORT_HTTP}:80
Volume=ryra-registry-data.volume:/usr/share/nginx/html:U
Pull=never
EnvironmentFile=__RYRA_SERVICE_HOME__/.env

[Service]
EnvironmentFile=__RYRA_SERVICE_HOME__/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
