[Unit]
Description=Vikunja task management
StartLimitIntervalSec=60
StartLimitBurst=3
After=network-online.target

[Container]
ContainerName=vikunja
Image=docker.io/vikunja/vikunja:2.3.0
Network=vikunja.network
PublishPort=${RYRA_PORT_HTTP}:3456
Volume=vikunja-db.volume:/db:U
Volume=vikunja-files.volume:/app/vikunja/files:U
EnvironmentFile=%h/.local/share/ryra/vikunja/.env
Pull=never
AutoUpdate=registry

[Service]
EnvironmentFile=%h/.local/share/ryra/vikunja/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
