[Unit]
Description=Vikunja task management
After=network-online.target

[Container]
ContainerName=vikunja
Image=docker.io/vikunja/vikunja:latest
Network=vikunja.network
PublishPort=${RYRA_PORT_HTTP}:3456
Volume=vikunja-db.volume:/db:U
Volume=vikunja-files.volume:/app/vikunja/files:U
EnvironmentFile=%h/.local/share/ryra/vikunja/.env
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=120

[Install]
WantedBy=default.target
