[Unit]
Description=Supabase Kong API gateway
StartLimitIntervalSec=60
StartLimitBurst=3
Requires=supabase.network
After=supabase.network

[Container]
ContainerName=supabase-kong
Image=docker.io/library/kong:2.8.1
Network=supabase.network:alias=kong
PublishPort=${RYRA_PORT_HTTP}:8000
PublishPort=${RYRA_PORT_HTTPS}:8443
Volume=%h/.local/share/ryra/supabase/configs/api/kong.yml:/home/kong/temp.yml:ro,z
Environment=KONG_NGINX_PROXY_PROXY_BUFFERS="64 160k"
Entrypoint=["bash", "-c", "eval \"echo \\\"$$(cat ~/temp.yml)\\\"\" > ~/kong.yml && /docker-entrypoint.sh kong docker-start"]
Pull=never
EnvironmentFile=%h/.local/share/ryra/supabase/.env

[Service]
EnvironmentFile=%h/.local/share/ryra/supabase/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
