[Unit]
Description=Inbucket
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
ContainerName=inbucket
Image=inbucket/inbucket:3.1.1
PublishPort=${RYRA_PORT_HTTP}:9000
PublishPort=${RYRA_PORT_SMTP}:2500
Pull=never
EnvironmentFile=%h/.local/share/ryra/inbucket/.env
HealthCmd=curl -sf http://localhost:9000/status || exit 1

[Service]
EnvironmentFile=%h/.local/share/ryra/inbucket/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
