[Unit]
Description=Postgres
StartLimitIntervalSec=0

[Container]
Image=docker.io/library/postgres:17-alpine
PublishPort=${RYRA_PORT_TCP}:5432
Volume=postgres-data.volume:/var/lib/postgresql/data:U
Pull=never

[Service]
EnvironmentFile=__RYRA_SERVICE_HOME__/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
