[Unit]
Description=Postgres
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
ContainerName=postgres
Image=docker.io/library/postgres:17-alpine
PublishPort=${RYRA_PORT_TCP}:5432
Volume=postgres-data.volume:/var/lib/postgresql/data:U
Pull=never
EnvironmentFile=%h/.local/share/ryra/postgres/.env

[Service]
EnvironmentFile=%h/.local/share/ryra/postgres/.env
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
