[Unit]
Description=Seafile file sync and share
StartLimitIntervalSec=0
Requires=seafile.network seafile-mariadb.service seafile-redis.service
After=seafile.network seafile-mariadb.service seafile-redis.service

[Container]
Image=docker.io/seafileltd/seafile-mc:12.0-latest
ContainerName=seafile
Network=seafile.network
PublishPort=${RYRA_PORT_HTTP}:80
Volume=__RYRA_SERVICE_HOME__/shared:/shared:Z
Pull=never

[Service]
EnvironmentFile=__RYRA_SERVICE_HOME__/.env
Restart=always
RestartSec=5
TimeoutStartSec=300
ExecStartPost=/bin/bash __RYRA_SERVICE_HOME__/configs/scripts/inject-oauth.sh

[Install]
WantedBy=default.target
