[Unit]
Description=Seafile file sync and share
StartLimitIntervalSec=60
StartLimitBurst=3
Requires=seafile.network seafile-mariadb.service seafile-redis.service
After=seafile.network seafile-mariadb.service seafile-redis.service

[Container]
Image=docker.io/seafileltd/seafile-mc:13.0.20
ContainerName=seafile
Network=seafile.network
PublishPort=${RYRA_PORT_HTTP}:80
Volume=%h/.local/share/ryra/seafile/shared:/shared:Z
Pull=never
EnvironmentFile=%h/.local/share/ryra/seafile/.env

[Service]
EnvironmentFile=%h/.local/share/ryra/seafile/.env
Restart=always
RestartSec=5
TimeoutStartSec=300
ExecStartPost=/bin/bash %h/.local/share/ryra/seafile/configs/scripts/inject-oauth.sh
ExecStartPost=/bin/bash %h/.local/share/ryra/seafile/configs/scripts/inject-smtp.sh

[Install]
WantedBy=default.target
