[Unit]
Description=Ente MinIO object storage
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=minio/minio:RELEASE.2025-09-07T16-13-09Z
ContainerName=ente-minio
Network=ente.network:alias=minio
Volume=ente-minio-data.volume:/data:U
Exec=server /data --address :3200 --console-address :3201
Pull=never
EnvironmentFile=%h/.local/share/ryra/ente/.env
HealthCmd=mc ready local || exit 1
HealthStartPeriod=15s
HealthInterval=10s
HealthRetries=5
HealthTimeout=5s

[Service]
EnvironmentFile=%h/.local/share/ryra/ente/.env
Restart=always
RestartSec=5
TimeoutStartSec=300
ExecStartPost=/bin/bash %h/.local/share/ryra/ente/configs/scripts/create-buckets.sh

[Install]
WantedBy=default.target
