[Unit]
Description=Authelia SSO server
StartLimitIntervalSec=0
Requires=authelia.network
After=authelia.network

[Container]
Image=docker.io/authelia/authelia:4.39
ContainerName=authelia
Network=authelia.network
PublishPort=${RYRA_PORT_HTTP}:9091
Volume=__RYRA_SERVICE_HOME__/config:/config:Z
Pull=never

[Service]
EnvironmentFile=__RYRA_SERVICE_HOME__/.env
Restart=always
RestartSec=5
TimeoutStartSec=300
ExecStartPre=/bin/bash __RYRA_SERVICE_HOME__/configs/scripts/generate-config.sh
ExecStartPre=/bin/bash __RYRA_SERVICE_HOME__/configs/scripts/generate-users.sh
ExecStartPre=/bin/bash __RYRA_SERVICE_HOME__/configs/scripts/generate-oidc-rsa-key.sh

[Install]
WantedBy=default.target
