[Unit]
Description=Authelia SSO server
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/authelia/authelia:4.39
ContainerName=authelia
Network=authelia.network
PublishPort=${RYRA_PORT_HTTP}:9091
Volume=%h/.local/share/ryra/authelia/config:/config:Z
Pull=missing
EnvironmentFile=%h/.local/share/ryra/authelia/.env
HealthCmd=wget -q --spider http://localhost:9091/api/health || exit 1

[Service]
EnvironmentFile=%h/.local/share/ryra/authelia/.env
Restart=always
RestartSec=5
TimeoutStartSec=300
ExecStartPre=/bin/bash %h/.local/share/ryra/authelia/configs/scripts/generate-config.sh
ExecStartPre=/bin/bash %h/.local/share/ryra/authelia/configs/scripts/generate-users.sh
ExecStartPre=/bin/bash %h/.local/share/ryra/authelia/configs/scripts/generate-oidc-rsa-key.sh

[Install]
WantedBy=default.target
